<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carolina Seda</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <img class="logo" src="../assets/Logotipo.png" alt="">
      <a class="navbar-brand" href="#">Carolina Seda</a>
    </div>
  </nav>
  <div class="recibimiento"> 
    <p>
      Estamos aqui para poder ayudarte con tu economia, familiar y personal.
    </p>
    <p>
      Tambien pudes suscribirte a nuestros cursos y encuentros de economia.
    </p>
  </div>
  <div class="container mt-2">
    <div class="consejos">
    </div>
    <div class="ensenianzas">
    </div>
  </div>
</body>
</html>