.logo{
    width: 75px;
    height: 55px;
}

.navbar{
    background: rgb(201, 181, 181);
}

.recibimiento{
    margin-top: 2rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

body{
    background: rgb(255, 255, 255);
}

.container-fluid{
    display: flex;
    flex-direction: column;

    a{
        margin-left: 1rem;
    }
}

.container{
    display: flex;
    align-items: center;
}

.consejos, .ensenianzas{
    border: 1px solid black;
    border-radius: 5px;
    margin: 2rem 0 0 2rem;
    width: 30rem;
    height: 20rem;
    filter: blur(3px);
    -webkit-filter: blur(3px);

    h1{
        text-align: center;
        z-index: 2;
    }
}

.consejos{
    background: url(../assets/Consejos.png) no-repeat;
    background-size: cover;
}

.ensenianzas{
    background: url(../assets/Cursos.jpeg) no-repeat;
    background-size: cover;
}